.nocover,
.cover {
    background-image: url(bg_pic.jpg);
}


.N01 {
    /* display: block; */
    height: 500px;
    width: 800px;


}

.N02 {
    height: 200px;
    width: 500px;


}

.N03 {
    height: 800px;
    width: 500px;

}

.cover {
    background-size: cover;
}

/* {
    margin: auto;
    display: block;


} */


.container {
    background: lightblue;
    padding: 30px;
    margin: 50px;

}



.wrapper {
    margin: auto;
    box-sizing: border-box;
}


.text {
    width: 100%;
    margin-bottom: 20px;
}

.explanation {
    margin-bottom: 100px;
}

.original {
    height: 200px;
    width: 300px;
    background-image: url(bg_pic.jpg);
    margin: auto;
    background-size: cover;
    margin-bottom: 100px;
}

body {
    text-align: center;
}

.flex_pearent {
    display: flex;
}

.flex_child {
    flex: 1;
    margin: 20px;
    background: lightyellow;
}
